/*==================== PAGES > ABOUT ====================*/

/*-------------------- SECCION SOBRE MI --------------------*/
.imagen--carnet {
  height: calc(16rem + 1.1vh);
  width: auto;
  border: 2px solid white;
  border-radius: 15px;
  margin: 20px;
}
