/*==================== UTILITIES > VARIABLES ====================*/

$color-primero: #301934;
$color-segundo: #502a57;
$color-tercero: #432349;
$color-cuarto:  #783f83;
$color-quinto:  #673d6e;
$color-sexto:   #8b6c91;
$color-septimo: #381d3d;
$color-octavo:  #ad6db9;
$color-principal:  #ffffff;
$color-secundario: #000000;
$color-resaltado1: #d11c54;
$color-resaltado2: #940f39;
$color-resaltado3: #ffc107;
$color-resaltado4: #a57c01;

$fuente-base: Arial;
$fuente-personal: "Bebas Neue";
$text-shadow1: -1px -1px 1px #aaa, 
                1px -1px 1px #ddd, 
               -1px  1px 1px #ddd,
                1px  1px 1px #eee;
