/*==================== LAYOUT > NAVIGATIONS ====================*/

/*---------- DROPDOWN MENU ----------*/
.dropdown-menu {
  background-color: $color-quinto;
}
.dropdown-item {
  color: $color-principal;
}
.dropdown-divider {
  color: $color-principal;
}
